@import url('https://fonts.googleapis.com/css?family=Roboto:300');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  outline: none;
  border: none;

}

.imgIframe{
    background-color: #fafafa;
    padding: 45px 35px;
    border: 0px solid red;
    width: 30%;
    height: 60vh;
    padding: 60px;
    margin: 0px 20px 0px 0px;
}
img {
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wrapper {
  position: absolute;
  max-width: 1000px;
  margin-top: 20px;
  padding: 10px;
}
.wrapper .img {
  display: inline-block;
  float: left;
  clear: both;
}
.wrapper .img img {
  width: 550px;
}
.wrapper .title {
  background: #fff;
  padding: 70px 10px;
}
.wrapper .title .info {
  color: #333;
  /*margin-top: -60px;*/
  margin-top: 0px;
  font-size: 40px;
  font-weight: 800;
}
.wrapper .title .category {
  color: #bfbfbf;
  margin-top: 15px;
}
.wrapper .title .price {
  color: #ff5964;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
}
.wrapper .title .description {
  color: #7a7a7a;
  margin-top: 20px;
}
.wrapper .title .addBtn {
  text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  background: #ff4747;
  color: #fff;
  padding: 10px 75px;
  margin: 5px;
  cursor: pointer;
  transition: 300ms;
  border-radius: 3px;
}
.wrapper .title .addBtn:hover {
  background: #ff4747;
  transition: 300ms;
}
@media screen and (max-width: 900px) {
  .wrapper {
    display: block;
  }
  .wrapper .img {
    display: block;
    float: none;
  }
  .wrapper .img img {
    width: 100%;
  }
  .wrapper .title {
    padding: 0;
    text-align: center;
  }
  .wrapper .title .info {
    padding: 40px;
    font-size: 2.2em;
  }
  .wrapper .title .category {
    margin-top: -70px;
    font-size: 1.5em;
  }
  .wrapper .title .price {
    font-size: 2.5em;
  }
  .wrapper .title .description {
    padding: 15px;
    font-size: 1.2em;
  }
  .wrapper .title .addBtn {
    position: relative;
    width: 100%;
    padding: 20px;
    border-radius: 0;
    margin: 0;
  }
}
@media screen and (max-width: 510px) {
  .wrapper {
    display: block;
  }
  .wrapper .img {
    display: block;
    float: none;
  }
  .wrapper .img img {
    width: 100%;
  }
  .wrapper .title {
    padding: 0;
    text-align: center;
  }
  .wrapper .title .info {
    padding: 80px;
    font-size: 1.5em;
  }
  .wrapper .title .category {
    margin-top: -70px;
    font-size: 1.2em;
  }
  .wrapper .title .price {
    font-size: 2em;
  }
  .wrapper .title .description {
    padding: 15px;
    font-size: 1em;
  }
  .wrapper .title .addBtn {
    position: relative;
    width: 100%;
    padding: 20px;
    border-radius: 0;
    margin: 0;
  }
}


@media (min-width: 280px) and (max-width: 680px) {
  .imgIframe{
    width: 100%;
    padding: 45px 100px;
  }
}